@page
@model MyStore.Pages.Books.CheckModel
@{
}

<br>
<h2>Books</h2>
<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
            <th>Types</th>
        </tr>
    </thead>
    <tbody>
            <tr>
                <td>@Model.booksInfo.id</td>
                <td>@Model.booksInfo.booksName</td>
                <td>@Model.booksInfo.description</td>
                <td>@Model.booksInfo.price</td>
                <td>@Model.booksInfo.typeBook</td>
            </tr>
    </tbody>
</table>
